/*@import url(https://fonts.googleapis.com/css?family=Fugaz+One);*/

/* For mobile phones: */
/*@media only screen and (max-width: 500px) {
[class*="col-"] {
    display: block;
    width: 100%;
    clear:both;
    }
}*/

html {
  background-image: url(images/desktop.jpg);
  background-size: 100%;
  background-attachment: fixed;
  text-align: center;
  padding: 5px;
  font-family: 'verdana' sans-serif;
}

header {
  margin-top: 20px;
  margin-right:50px;
  margin-bottom:0px;
  margin-left:50px;
  /*background-color: #ABA3A1;*/
  font-size: 4em;
  font-family: 'Squada One', cursive;
 text-align: center;
  /*margin-left: 100px
  margin-right: 100px*/
}

footer {
  font-family: 'verdana' sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
  text-align: center;
  padding: 4px;
}

h2 {
font-family: 'Squada One', cursive;
font-size: 2em;
}

body {
  border-width: thin;
  line-height: 14px;
  font-family: 'verdana' serif;
  font-size: 12px;
}

svg {
  resize: both;
  /*display: block;*/
  height: 25px;
  width: 25px;
  margin: 10px;
  padding: auto;
  border: none;
  justify-content: center;
}

ul > li {
  list-style: circle;
  line-height: 1.4em;
}

a:link {
  color: #000000;
  text-decoration: underline;
  /*border-bottom: 1px solid #000000;*/
}

a:visited {
  color: #000000;
  /*text-decoration: none;*/
}

a:hover{
  color: #0004FF;
  /*text-decoration: none;*/
}

.subsubheader {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 2%;
}

.centerbox {
  width: 85%;
  padding: 1%;
  border: 5px;
  margin-top:auto;
  margin-right:auto;
  margin-bottom: 2%;
  margin-left: auto;
  text-align: left;
  border-color: black;
  border-style: solid;
  border-width: medium;
}

textarea:focus, input:focus {
	border: 2px solid blue;
}

input {
  font-family: inherit;
  font-size: 120%;
}

/*#summarybox {
  width: 50%;
  padding: 1%;
  border: 5px;
  margin-top:auto;
  margin-right:auto;
  margin-bottom:auto;
  margin-left: auto;
  text-align: left;
  border-color: black;
  border-style: solid;
  border-width: medium;
}*/

.smallcenterbox {
  width: 65%;
  padding: 1%;
  border: 5px;
  margin-top:auto;
  margin-right:auto;
  margin-bottom:auto;
  margin-left: auto;
  text-align: left;
  border-color: black;
  border-style: solid;
  border-width: medium;
  }

#contactme {
  font-family: 'Squada One', cursive;
  font-size: 2em;
  font-variant:small-caps;
}

#ulindent {
  margin-left: -25px;
}


/*-------------------------------------------------------------------------------------------------------------*/

.col-1 {
  width: 48%;
  float:left;
  padding: 1%;
}
.col-2 {
  width: 48%;
  float: right;
  padding: 1%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid:before {

}
