@import url(https://fonts.googleapis.com/css?family=Lobster);

header {
  border-width: 100px;
  border-color: black;
  background-color: #ABA3A1;
  font-size: 4em;
  font-family: 'verdana';  text-align: center;
  /*margin-left: 100px
  margin-right: 100px*/
}

.subsubheader {
  font-size: 50px;
  font-weight: bolder;
}


footer {
  font-family: 'verdana' sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  padding: 4;
}

body {
  /*background-image: url(images/writersdesk.jpg);*/
   background-size: 100vw 1.5em, 32px 32px;
   background-repeat: repeat, repeat-y;
   background-position: 0 0, 64px 0;
   line-height: 15px;
}
/*having trouble linking image to desk for body*/

html {
  border-width: medium;
  margin: 5%;



  /*text-align: center;*/
}
