@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Graduate);

html {
  background-image: url(images/desktop.jpg);
  background-size: 100%;
  background-attachment: fixed;
  text-align: center;
  padding: 5px;
  font-family: fantasy;
}

header {
  margin-top: 20px;
  margin-right:50px;
  margin-bottom:0px;
  margin-left:50px;
  /*background-color: #ABA3A1;*/
  font-size: 3.6em;
  font-family: 'Graduate'; text-align: center;
  /*margin-left: 100px
  margin-right: 100px*/
}

footer {
  font-family: 'verdana' sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
  text-align: center;
  padding: 4px;
}

h2 {
  font-family: Righteous;
  font-size: 2em;
}

body {
  border-width: thin;
  line-height: 14px;
  font-family: 'verdana' serif;
  font-size: 12px;
}

ul > li {
  list-style: circle;
  line-height: 1.4em;
}

a:link {
  color: #00EBFF;
  text-decoration: none;
}

a:visited {
  color: #CA0000;
  text-decoration: none;
}

a:hover{
  color: #E78601;
  text-decoration: none;
}

.grid {
}

.subsubheader {
  font-size: 15px;
  font-weight: bolder;
}

.centerbox {
  width: 85%;
  padding: 1%;
  border: 5px;
  margin-top:auto;
  margin-right:auto;
  margin-bottom:auto;
  margin-left: auto;
  text-align: left;
  border-color: black;
  border-style: double;
  border-width: medium;
}

#summarybox {
  width: 50%;
  padding: 1%;
  border: 5px;
  margin-top:auto;
  margin-right:auto;
  margin-bottom:auto;
  margin-left: auto;
  text-align: left;
  border-color: black;
  border-style: double;
  border-width: medium;
}


#smallcenterbox {
  width: 65%;
  padding: 1%;
  border: 5px;
  margin-top:auto;
  margin-right:auto;
  margin-bottom:auto;
  margin-left: auto;
  text-align: left;
  border-color: black;
  border-style: double;
  border-width: medium;
  }

#emailme {
  font-size: 2em;
  font-family: andale mono, cursive;
  font-variant:small-caps;
}

/*-------------------------------------------------------------------------------------------------------------*/

.col-1 {
  width: 48%;
  float:left;
  padding: 1%;
}
.col-2 {
  width: 48%;
  float: right;
  padding: 1%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid:before {

}
