/* Grid display */

.resume {
  grid-gap: 5px;
  /* For testing */
  width  : 100%;
  /* For testing */
  /* height: 50%; */
  /* For testing */

  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "photo"
    "about"
    "work"
    "education"
    "skills"
    "references"
    "social"

}

.grid-area {
    padding: 1em 1em 1em 1em;
    border : 1px black solid;
    font-size: 1.6em;
}


.photo {
  grid-area: photo;
}
.about {
  grid-area: about;
}
.work {
  grid-area: work;
}
.education {
  grid-area: education;
}
.skills {
  grid-area: skills;
}
.references {
  grid-area: references;
}
.social {
  grid-area: social;
}

/* End grid display */


html {
    font-size: 62.5%;
}

main {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 50%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
  margin: 1em;
}

.centered {
      display: block;
     margin-left: auto;
    margin-right: auto;

}
















/* Scaling up */

@media (min-width: 1200px) {
  .resume {
    width: 60%;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "about photo"
        "work work"
        "work work"
        "education education"
        "skills skills"
        "community community"
        "references references"
        "social social"
  }
}



@media (min-width: 900px) {
  .resume {
      width: 80%;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "about photo"
        "work work"
        "education education"
        "skills skills"
        "community community"
        "references references"
        "social social"
  }
}
